pipeline/00.json
{
	"name": "00",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "total_page",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('total_page'),5)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "page_count_inc",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "page_count_incr",
								"value": {
									"value": "@add(variables('page_count_incr'),1)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "total_page",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "total_page",
					"value": 5
				}
			}
		],
		"variables": {
			"total_page": {
				"type": "Integer"
			},
			"page_count_incr": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "activities"
		},
		"annotations": []
	}
}