pipeline/03_until.json
{
	"name": "03_until",
	"properties": {
		"activities": [
			{
				"name": "process file if exists",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('IsFileExists'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls2_poc_csv_param",
									"type": "DatasetReference",
									"parameters": {
										"root_path": {
											"value": "@pipeline().parameters.root_path_param",
											"type": "Expression"
										},
										"directory_path": {
											"value": "@pipeline().parameters.directory_path_param",
											"type": "Expression"
										},
										"file_name": {
											"value": "@pipeline().parameters.file_name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "check for file exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata1').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait  for 1 min",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 60
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "isFileExists",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "IsFileExists",
											"value": true
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"root_path_param": {
				"type": "string",
				"defaultValue": "explore-adls"
			},
			"directory_path_param": {
				"type": "string",
				"defaultValue": "poc/inbound/nycRaw"
			},
			"file_name": {
				"type": "string",
				"defaultValue": "calendar.csv"
			}
		},
		"variables": {
			"IsFileExists": {
				"type": "Boolean",
				"defaultValue": "False"
			}
		},
		"folder": {
			"name": "activities"
		},
		"annotations": []
	}
}