pipeline/03_until.json
{
	"name": "03_until",
	"properties": {
		"activities": [
			{
				"name": "process file if exists",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('IsFileExists'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls2_poc_csv_param",
									"type": "DatasetReference",
									"parameters": {
										"root_path": {
											"value": "@pipeline().parameters.root_path_param",
											"type": "Expression"
										},
										"directory_path": {
											"value": "@pipeline().parameters.directory_path_param",
											"type": "Expression"
										},
										"file_name": {
											"value": "@pipeline().parameters.file_name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "check for file exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata1').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait  for 1 min",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 60
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "isFileExists",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "IsFileExists",
											"value": true
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "copy file to dest",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "process file if exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls2_poc_csv_param",
						"type": "DatasetReference",
						"parameters": {
							"root_path": {
								"value": "@pipeline().parameters.root_path_param",
								"type": "Expression"
							},
							"directory_path": {
								"value": "@pipeline().parameters.directory_path_param",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls2_poc_csv_param",
						"type": "DatasetReference",
						"parameters": {
							"root_path": {
								"value": "@pipeline().parameters.root_path_dest_param",
								"type": "Expression"
							},
							"directory_path": {
								"value": "@pipeline().parameters.directory_path_dest_param",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.file_name_dest_param",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"root_path_param": {
				"type": "string",
				"defaultValue": "explore-adls"
			},
			"directory_path_param": {
				"type": "string",
				"defaultValue": "poc/inbound/nycRaw"
			},
			"file_name": {
				"type": "string",
				"defaultValue": "calendar4.csv"
			},
			"root_path_dest_param": {
				"type": "string",
				"defaultValue": "explore-adls"
			},
			"directory_path_dest_param": {
				"type": "string",
				"defaultValue": "poc/output/nycRaw"
			},
			"file_name_dest_param": {
				"type": "string",
				"defaultValue": "calendar4.csv"
			}
		},
		"variables": {
			"IsFileExists": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "activities"
		},
		"annotations": []
	}
}