pipeline/05_validate_file_schema.json
{
	"name": "05_validate_file_schema",
	"properties": {
		"activities": [
			{
				"name": "Get File Structure",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls2_poc_csv_param",
						"type": "DatasetReference",
						"parameters": {
							"root_path": {
								"value": "@pipeline().parameters.root_path",
								"type": "Expression"
							},
							"directory_path": {
								"value": "@pipeline().parameters.directory_path",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get Template Structure",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls2_poc_csv_param",
						"type": "DatasetReference",
						"parameters": {
							"root_path": {
								"value": "@pipeline().parameters.root_path",
								"type": "Expression"
							},
							"directory_path": {
								"value": "@pipeline().parameters.directory_path",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.template_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "validate file template",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Structure",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Template Structure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get File Structure').output.structure,activity('Get Template Structure').output.structure)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "file validation failed",
								"errorCode": "404 - In correct schema"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					]
				}
			}
		],
		"parameters": {
			"root_path": {
				"type": "string",
				"defaultValue": "explore-adls"
			},
			"directory_path": {
				"type": "string",
				"defaultValue": "poc/inbound/nycRaw"
			},
			"file_name": {
				"type": "string",
				"defaultValue": "taxi_zone.csv"
			},
			"template_name": {
				"type": "string",
				"defaultValue": "taxi_zone_Template_Valid.csv"
			}
		},
		"folder": {
			"name": "poc"
		},
		"annotations": []
	}
}