pipeline/06_copy_tables_in_bulk.json
{
	"name": "06_copy_tables_in_bulk",
	"properties": {
		"activities": [
			{
				"name": "get schema and tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct sch.[name] as SchemaName, tab.[name] as TableName \nfrom sys.tables tab\njoin sys.schemas sch on tab.schema_id = sch.schema_id\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_az_sql_poc_sample_db",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "loop on tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get schema and tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get schema and tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "var_file_name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_name",
								"value": {
									"value": "@concat(item().SchemaName,'_',item().TableName,'_',formatDateTime(utcnow(), 'MMddyyyyHHmmss'),'.csv')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy table to file",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "var_file_name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_az_sql_poc_sample_db_param",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"table": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls2_poc_csv_param",
									"type": "DatasetReference",
									"parameters": {
										"root_path": {
											"value": "@pipeline().parameters.root_path",
											"type": "Expression"
										},
										"directory_path": {
											"value": "@pipeline().parameters.directory_path",
											"type": "Expression"
										},
										"file_name": {
											"value": "@variables('file_name')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"root_path": {
				"type": "string",
				"defaultValue": "explore-adls"
			},
			"directory_path": {
				"type": "string",
				"defaultValue": "poc/output/nycRaw"
			}
		},
		"variables": {
			"file_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "poc"
		},
		"annotations": []
	}
}