ws-explore-adf/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ws-explore-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/05_validate_file_schema')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get File Structure",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_adls2_poc_csv_param",
								"type": "DatasetReference",
								"parameters": {
									"root_path": {
										"value": "@pipeline().parameters.root_path",
										"type": "Expression"
									},
									"directory_path": {
										"value": "@pipeline().parameters.directory_path",
										"type": "Expression"
									},
									"file_name": {
										"value": "@pipeline().parameters.file_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Get Template Structure",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_adls2_poc_csv_param",
								"type": "DatasetReference",
								"parameters": {
									"root_path": {
										"value": "@pipeline().parameters.root_path",
										"type": "Expression"
									},
									"directory_path": {
										"value": "@pipeline().parameters.directory_path",
										"type": "Expression"
									},
									"file_name": {
										"value": "@pipeline().parameters.template_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "validate file template",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get File Structure",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Template Structure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get File Structure').output.structure,activity('Get Template Structure').output.structure)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail1",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "file validation failed",
										"errorCode": "404 - In correct schema"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 10
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"root_path": {
						"type": "string",
						"defaultValue": "explore-adls"
					},
					"directory_path": {
						"type": "string",
						"defaultValue": "poc/inbound/nycRaw"
					},
					"file_name": {
						"type": "string",
						"defaultValue": "taxi_zone.csv"
					},
					"template_name": {
						"type": "string",
						"defaultValue": "taxi_zone_Template_InValid.csv"
					}
				},
				"folder": {
					"name": "poc"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_master_web')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "web api master",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "01_web_api",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"base_url_param": "https://reqres.in/api/users",
								"relative_url_param": "https://reqres.in/api/users?page=1",
								"root_path_param": "explore-adls",
								"directory_path_param": "poc/inbound/nycRaw"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "poc"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}